<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About image forgery detection</title>
    <!-- <link rel="stylesheet" href="about.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='about.css') }}">
</head>

<body>
    <nav class="nv">
        <div>

            <li><a href="/" target="_blank">Home</a></li>
            <li><a href="/about" target="_blank">About</a></li>
        </div>

        <div>

            <li><a href="/loin" target="_blank">Login</a></li>
            <li><a href="/res" target="_blank">Register</a></li>
        </div>
    </nav><hr>
    <div class="main">
        <h1>About Image Forgeries Detection</h1><br>
        <h2>This is a simple web application for detecting image forgeries.</h2>
    </div><hr>
    <div class="cont">
        <h1>Abstract: </h1>
        <br>

        <p>
            Image forgery detection is an approach for detection and localization of forged component from a manipulated
            image. To find manipulation or
            tampering in the original image, an adequate number of features are required to classify the given image is
            either a forged or non-forged. To achieve this
            convolutional neural network (CNN) based pre-trained AlexNet model's deep features have been utilized which
            are efficient and effective, as compared to
            the existing state-of-the-art approaches on publicly available benchmark dataset MICC-F220. The experiment
            result shows that the proposed approach
            using a pre-trained AlexNet model based deep features with Support Vector Machine (SVM) classifier has
            achieved 93.94% accuracy.
        </p>

    </div><hr>
    <div class="key">
        <h1>Keywords: </h1>
        <br>
        <ol>
            <li>Image forgery detection</li>
            <li>Convolutional Neural Network (CNN)</li>
            <li>AlexNet</li>
            <li>Support Vector Machine (SVM)</li>
            <li>Deep features</li>
        </ol>

    </div><hr>
    <div class="footer">
        <p>City : Kanpur</p>
        <p>State : Uttar Pradesh</p>
        <p>Country : India</p>
        <p>Thank you for visiting our website!</p>
        <h3>Copyright © 2026 Image Forgery Detection. All rights reserved.</h3>
    </div>
</body>

</html>