<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frogery detection system.</title>
    <link rel="stylesheet" href="{{url_for('static',filename='1style.css')}}">
</head>

<body id="new">
    <nav class="bar">
        <div id="log">
            <h1>Frogery Detection System.</h1>
        </div>
        <div id="link">
            <li><a href="/" target="_blank">Home</a></li>
            <li><a href="/about" target="_blank">About</a></li>
            <li><a href="/loin" target="_blank">Login</a></li>
            <li><a href="/res" target="_blank">Register</a></li>
            <li><button style="background-color: rgb(8, 14, 1); border: 3px solid black ;border-radius: 2px;"><a href="/">New image</a></button></li>
        </div>
    </nav>
    <hr>
    <nav class="head">
        <h1>Abstrac:</h1><br>
        <h3>CNN based Image Forgery Detection using pre-trained AlexNet Model.</h3>
        <p>
            Image forgery detection is an approach for detection and localization of forged component from a manipulated
            image. To find manipulation or
            tampering in the original image, an adequate number of features are required to classify the given image is
            either a forged or non-forged. To achieve this
            convolutional neural network (CNN) based pre-trained AlexNet model's deep features have been utilized which
            are efficient and effective, as compared to
            the existing state-of-the-art approaches on publicly available benchmark dataset MICC-F220. The experiment
            result shows that the proposed approach
            using a pre-trained AlexNet model based deep features with Support Vector Machine (SVM) classifier has
            achieved 93.94% accuracy.
        </p>
    </nav>
    <hr>
    <nav class="main">
        <div class="im1">
            <img src="{{url_for('static', filename='logo.jpg')}}" alt="ALT">

        </div>
        <div class="im1">
            <img src="{{url_for('static', filename='logo2.png')}}" alt="Alt">

        </div>
        <div class="im1">
            <img src="{{url_for('static', filename='logo3.jpg')}}" alt="Alt">
        </div>
    </nav>
    <hr>
    <nav class="output">
        <div class="input">
            <label for="image-input">Upload Image:</label>
            <input type="file" id="image-input">
            <button onclick="upload_old_image()">Upload</button>
        </div>
        <div class="o">
            <div> </div>
            <h1>Output:</h1>
            <div id="result"></div>

        </div>
    </nav>
    <hr>
    <nav class="prog">
        <h1 style="color: white;">please wait while analyzing.</h1><br>

        <div class="pbar">
            <div class="pbar1"><span class="pbar2">0%</span>
            </div>
        </div>
    </nav>
    <hr>
    <nav class="footer">
        <div>

            <h3>Copyright @ 2026</h3>
            <li>City:kanpur</li>
            <li>State:Uttar Pradesh</li>
            <li>Country:India</li>
            <li>Contect No.:1800-2000-3000</li>
            <h4>Thank you for using our service!</h4>

        </div>
    </nav>
    <script src="{{url_for('static',filename='scrpt.js')}}"></script>
</body>

</html>